
<div class="cover_up">


<div class="wrapper">
  <div class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a href="{% url 'jobs_app:home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
          <li><a href="{% url 'accounts:login' %}"><i class="fa-solid fa-lock-open"></i>Login</a></li>
              <li><a href="{% url 'accounts:logout' %}"><i class="fa-solid fa-lock"></i>Logout</a></li>
                  <li><a href="{% url 'jobs_app:create' %}">Add Profile</a></li>
    </ul>

  </div>

</div>

</div>
